django
requests
mysqlclient
pymongo
djangorestframework
markdown
django-filter
django-rest-auth
PyJWT
djangorestframework-jwt
drf_yasg
django-debug-toolbar
django-cors-headers==2.4.0
django-jet
djangorestframework-recursive
django-celery
django-redis
drf-extensions
django-redis-cache
Pillow
xlwt
